<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    
    <title>#{title}</title>
  <link href="https://s103.ggwan.com/shopv2/vue/static/css/mobile-article-list.69bbf5211d45219727dd793288ce9f70.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="https://s103.ggwan.com/shopv2/vue/static/js/manifest.f8d9173cdd53ce0c820b.js"></script><script type="text/javascript" src="https://s103.ggwan.com/shopv2/vue/static/js/vendor.cb109d879b7f71a8a3ea.js"></script><script type="text/javascript" src="https://s103.ggwan.com/shopv2/vue/static/js/mobile-article-list.27f8d94341e74934ae50.js"></script></body>
</html>
