<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>first</title>
  <link href="https://s103.ggwan.com/shopv2/vue/static/css/mobile-first.570d83bec21695e1ae9c8f130e4a077e.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="https://s103.ggwan.com/shopv2/vue/static/js/manifest.9ecf77ecf1551efba8e6.js"></script><script type="text/javascript" src="https://s103.ggwan.com/shopv2/vue/static/js/vendor.a43c3ae6378f397fff17.js"></script><script type="text/javascript" src="https://s103.ggwan.com/shopv2/vue/static/js/mobile-first.0f2059d5bac2066c9c4a.js"></script></body>
</html>
